/**** Thêm reset css giúp thiết lập các style của thành phần HTML theo 1 chuẩn nhất định ****/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**** Tải hình nền trên trang Netflix Login và thiết lập background-image cho trang Login ****/
.container{
    background-size: cover;
    height: 1086px;
    position: relative;
    width: 100%;
}

/**** Css cho lớp phủ mờ - overlay cho layout ****/
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1E90FF;
}

/**** Css html chung cho trang web *****/
html{
    font-size: 10px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif
}

/**** Css cho phần header *****/
.header{
    padding-top: 20px;
    padding-left: 44px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header a{
    font-size: 5rem; /* 5rem nghĩa là 50px(gấp 5 lần font-size của root - html) */
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #E50914;
}

/**** Css cho phần login-body ****/
.body{
    width: 448px;
    height: 660px;
    background-color:  rgba(0, 0, 0, 0.75); /* Màu nền với độ mờ 0.75 */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; /* Để căn giữa */
    top: 88px;
    border-radius: 5px;
    z-index: 1;
}

/**** css cho login-form-header ****/
.form-header{
    font-size: 3.2rem;
    font-weight: 700px;
    color: #fff;
}

/**** Css cho login-form-container ****/
.form-container{
    padding: 60px 70px 0;
}

/**** Css cho thẻ input ****/
.form-input{
    width: 100%;
    height: 50px;
    margin-top: 16px;
    padding: 0 16px;
    color: #fff;
    font-size: 1.6rem;
    background-color:  #333333;
    border: 1px solid #333333;
    border-radius: 4px;
    outline: none;
}

/**** Css thêm viền khi click vào input nhập thông tin ****/
.form-input:focus{
    border-bottom: 3px solid #eeaf67;
}

/**** Chỉnh khoảng cách thẻ input đầu tiên tới Login header ****/
.form-input:first-child{
    margin-top: 30px;
}

/**** Css cho button ****/
.form-button{
    color: #fff;
    background-color: #e50914;
    width: 100%;
    font-size: 1.6rem;
    padding:16px;
    border-radius: 4px;
    border: 0px;
    margin: 40px 0 14px;
    font-weight: 700;
}

/**** Css cho login-form-helper ****/
.form-help{
    color: #737373;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between; /* giúp sắp xếp các phần tử nằm bên trong theo chiều dọc hoặc chiều ngang */
    margin: 20px 0 5px;
}

/**** Css cho checkbox ****/
.checkbox{
    height: 16px;
    width: 16px;
    border-radius: 2px;
    accent-color:#737373; /* Để chỉnh màu cho checkbox khi check ta có thể dùng thuộc tính accent-color */
}

.remember-lbl{
    position: relative;
    bottom: 3px;
}

.remember-lbl a{
    color: #0071eb;
    text-decoration: none;
}

.help-link{
    text-decoration: none;
    color: #737373;
}

/**** Css cho Login fb ****/
.form-other{
    margin-top: 60px;
}

.fb{
    text-decoration: none;
}

.fb-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.fb-text{
    font-size: 1.3rem;
    color: #737373;
    font-weight: 500;
    position: relative;
    bottom: 6px;
}

.form-signupnow
{
    font-size: 16px;
    color: #737373;
    margin-top: 16px;
}

.form-signupnow-link{
    color: #fff;
    text-decoration: none;
}

.term{
    color: #737373;
    font-size: 1.3rem;
    margin-top: 16px;
    color: #737373;

}

.term p{
    display: inline;
}

.term a{
    color: #0071eb;
    text-decoration: none;
}

.term a:hover{
    text-decoration: underline;
} 

.label{
    font-size: 20px;
}